{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non Trouvée</h1>

    <p>
        La page que vous cherchez est introuvable!!!<br>
        <a href="{{ path('app_logout') }}">retour à la page login.</a>.
    </p>
{% endblock %}